  //弹窗

  .at-curtain__btn-close--bottom{
    display: none;
}
.alert_page{
  width:660px;
  height:200px;
  background:rgba(255,255,255,1);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  letter-spacing: 2PX;
  margin: -210px -13px;
  .alert_top{
      font-size:26px;
      color:rgba(127,127,127,1);
      line-height:42px;
      padding: 41px 31px;

  }
  .alert_footer{
      font-size:28px;
      color:rgba(38,198,138,1);
      line-height:42px;
      display: flex;
      justify-content: flex-end;
      margin: 15px 20px 45px ;
  }

}